table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.standingsTable{
    padding: 12px;
}

#ButtonRow{
    display: flex;
    justify-content: left;
}

#fifa{
    margin: 10px;
}

#nba{
    margin: 10px;
}

.gameButton{
    font-size: x-large;
    padding: 12px;
    justify-content: left;
}

.leagueButtons{
    display: flex;
    justify-content: left;
}

.leagueButton {
    font-size: larger;
    margin: 10px;
}

.weeklyFixtures{
    display:flex;
}

.weekNumber{
    font-size: larger;
}

.rowFixture{
    display: flex;
}

.weekFixture{
    padding: 12px;
}

.lastUpdated{
    color: grey;
    margin: 50px;
    text-align: center;
}
button:active {
    background: blue;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.Buttontrue{
    background: #aeaeae;
    box-shadow: inset 0px 0px 5px #333333;
    outline: none;
}

.standingsHeader, .fixtureHeader {
    font-size: larger;
    padding: 12px;
}