<div id = 'ButtonRow'>
    <button id="fifa" class = 'gameButton Button{{$ctrl.shown===$ctrl.FIFA}}' ng-click="$ctrl.shown=$ctrl.FIFA">
        FIFA
    </button>
    <button id="nba" class = 'gameButton Button{{$ctrl.shown===$ctrl.NBA}}' ng-click="$ctrl.shown=$ctrl.NBA">
        NBA
    </button>
</div>
<p></p>

<div id = 'FIFAContainer' ng-if="$ctrl.shown===$ctrl.FIFA">
    <league-buttons lgs ='$ctrl.info'></league-buttons>
</div>
<div id = 'NBAContainer' ng-if="$ctrl.shown===$ctrl.NBA">
    <conference-buttons conferences = '$ctrl.info'></conference-buttons>
</div>

<p class = "lastUpdated"> Data last updated on {{$ctrl.info.date}}</p>
