

<div id="logo"><button class = "logoButton" ng-click = "$ctrl.shown=2"><img src="https://lucademian.com/aepi-esports.png"/></button></div>
<div id = 'ButtonRow'>
    <button id ="fifa" class = 'gameButton Button{{$ctrl.shown===$ctrl.FIFA}}' ng-click="$ctrl.shown=$ctrl.FIFA">
        FIFA
    </button>
    <button id="nba" class = 'gameButton Button{{$ctrl.shown===$ctrl.NBA}}' ng-click="$ctrl.shown=$ctrl.NBA">
        NBA
    </button>
    <button id ="nhl" class= 'gameButton Button{{$ctrl.shown===$ctrl.NHL}}' ng-click = "$ctrl.shown=$ctrl.NHL">
        NHL
    </button>
</div>
<p></p>

<div id = 'FIFAContainer' ng-if="$ctrl.shown===$ctrl.FIFA">
    <league-buttons lgs ='$ctrl.info'></league-buttons>
</div>
<div id = 'NBAContainer' ng-if="$ctrl.shown===$ctrl.NBA">
    <conference-table cnfs = '$ctrl.info'></conference-table>
</div>
<div id = 'NHLContainer' ng-if="$ctrl.shown===$ctrl.NHL">
    <nhl-conference-table cnfs = '$ctrl.info'></nhl-conference-table>
</div>

